$font-family: "Hurmit Mono";
$font-url: "../../assets/fonts/hurmit-mono-";
@font-face {
  font-family: $font-family;
  src: url($font-url + "light.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: $font-family;
  src: url($font-url + "medium.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: $font-family;
  src: url($font-url + "bold.otf") format("opentype");
  font-weight: 700;
}
