@use "./partials/global" as *;

body {
  @include body-styling;
  background-color: black;
}

header {
}

.navigation {
  display: flex;
  justify-content: center;
  background-image: url(../assets/images/top-nav.png);
  background-repeat: no-repeat;
  background-size: cover;
  // border: red solid 2px;
  min-width: 100%;
  min-height: 138px;
  z-index: 5;
  position: absolute;

  &__logo {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/images/logo-small.png);
    background-repeat: no-repeat;
    // border: silver solid 2px;
    min-width: 98px;
    min-height: 65px;
    z-index: 7;
    position: absolute;
    margin-left: -44.5%;
    margin-top: 2%;
  }

  &__trivia {
    display: flex;
    flex-direction: column;
    font-family: "Saira";
    font-size: 24pt;
    margin-top: 18%;
    text-decoration-style: none;
    color: white;
  }

  &__link {
    text-decoration-style: none;
    text-decoration: none;
    list-style: none;
    color: white;
    // border: pink solid 2px;
  }
}

.hero {
  display: flex;
  justify-content: center;
  background-image: url(../assets/images/star-galaxy-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 2704px;
  // border: blue solid 2px;
  z-index: -5;

  &__logo {
    background-image: url(../assets/images/logo-large.png);
    background-repeat: no-repeat;
    min-width: 265px;
    min-height: 178px;
    margin-top: 550px;
    margin-left: -50%;
  }

  &__statement-greet {
    display: flex;
    font-family: "Saira";
    font-size: 20pt;
    font-weight: bold;
    position: absolute;
    color: white;
    // border: yellow solid 2px;
    margin-top: 1000px;
    text-align: center;
  }

  &__statement-msg {
    display: flex;
    font-family: "Saira";
    font-size: 20pt;
    position: absolute;
    color: white;
    // border: teal solid 2px;
    margin-top: 1200px;
    text-align: center;
    line-height: 4rem;
  }
}

.bottom-container {
  display: flex;
  background-image: url(../assets/images/star-planet-horizon.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 2502px;
  // border: yellow solid 2px;
  z-index: -5;
  margin-top: -600px;

  &__star {
    display: flex;
    background-image: url(../assets/images/star-button.png);
    background-repeat: no-repeat;

    min-width: 100%;
    min-height: 1069px;
    // border: seagreen solid 2px;
    background-position-x: center;
    z-index: 10;
  }

  &__button {
    width: 100%;
  }

  &__warning {
    position: absolute;
    text-align: center;
    color: white;
    margin-top: -600px;
    margin-left: 39%;
    // border: yellow solid 2px;
    font-family: "Saira";
    font-size: 20pt;
  }
}

.info {
  display: flex;
  background-image: url(../assets/images/bottom-nav.png);
  background-repeat: no-repeat;
  background-size: cover;
  // border: orange solid 2px;
  min-width: 100%;
  min-height: 138px;
  z-index: 5;
  margin-top: -138px;
}
